{% load static %}
{% load json_tags %}
{% csrf_token %}
{% if shop %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link href="{% static "polaris.css" %}?v6.6" rel="stylesheet">
        <link as="script" href="{% static "polaris.app.js" %}?v6.9" rel="preload">
        <link as="script" href="{% static "react.app.js" %}?v6.9" rel="preload">
        <link as="script" href="{% static "index.app.js" %}?v6.9" rel="preload">
        <link as="script" href="https://www.google-analytics.com/analytics.js" rel="preload">
        <link as="script" href="https://connect.facebook.net/en_US/fbevents.js" rel="preload">
        <script>
            window.premium = {{ premium|yesno:"true,false" }};
            window.install = {{ install|yesno:"true,false" }};
            window.reinstall = {{ reinstall|yesno:"true,false" }};
            window.t = 'T{{ csrf_token }}';
            window.current_shop = {
                feed_name: '{{ feed_name }}',
                domain: '{{ current_shop }}',
                apiKey: '{{ api_key }}',
                appId: '{{ appId }}',
                shopOrigin: '{{ current_shop }}',
                title: '{{ page_name }}',
                billing: '{% url "shopify_app:subscribe" %}',
                downgrade: '{% url "shopify_app:downgrade" %}',
                premium: {{ shop.premium|yesno:"true,false" }},
                dashboard: '{% url "shopify_app:dashboard" %}',
                fb_integration: '{% url "shopify_app:fb_integration" %}',
                fb_disconect: '{% url "shopify_app:fb_disconect" %}',
                forceRedirect: true,
                debug: false,
                feed: {{ feed|to_json }},
                options: [
                    {
                        label: 'Up to 1,000 products',
                        default: true,
                        premium: false,
                        active: true
                    },
                    {
                        label: 'Single Collection Sync',
                        default: true,
                        premium: false,
                        active: true
                    },
                    {
                        label: 'Image Optimization (up to 50 images)',
                        default: true,
                        premium: false,
                        active: true
                    },
                    {
                        label: 'Feed for Google Merchant Ads, Facebook, Instagram, Yottos, Pinterest',
                        default: true,
                        premium: false,
                        active: true
                    },
                    {
                        label: 'UTM tags',
                        default: false,
                        premium: true,
                        active: {{ shop.premium|yesno:"true,false" }}
                    },
                    {
                        label: 'Sorting by Sales Rating',
                        default: false,
                        premium: true,
                        active: {{ shop.premium|yesno:"true,false" }}
                    },
                    {
                        label: 'Display discounts in ads',
                        default: false,
                        premium: true,
                        active: {{ shop.premium|yesno:"true,false" }}
                    },
                    {
                        label: 'Asynchronous feed update',
                        default: false,
                        premium: true,
                        active: {{ shop.premium|yesno:"true,false" }}
                    },
                    {
                        label: 'Scrolling images inside ads',
                        default: false,
                        premium: true,
                        active: {{ shop.premium|yesno:"true,false" }}
                    },
                    {
                        label: 'Sync all products for remarketing',
                        default: false,
                        premium: true,
                        active: {{ shop.premium|yesno:"true,false" }}
                    },
                    {
                        label: '10 feeds with ratings, 1000 products',
                        default: false,
                        premium: true,
                        active: {{ shop.premium|yesno:"true,false" }}
                    },
                    {
                        label: 'Individual names of product variations',
                        default: false,
                        premium: true,
                        active: {{ shop.premium|yesno:"true,false" }}
                    },
                    {
                        label: 'Synchronization of individual collections',
                        default: false,
                        premium: true,
                        active: {{ shop.premium|yesno:"true,false" }}
                    },

                    {
                        label: 'Image Optimization (up to 10 000 images)',
                        default: false,
                        premium: true,
                        active: {{ shop.premium|yesno:"true,false" }}
                    },
                    {
                        label: 'Display in ads the availability of goods in the store',
                        default: false,
                        premium: true,
                        active: {{ shop.premium|yesno:"true,false" }}
                    },

                ],
                utm: {{ utm|to_json }},
                collections: {{ collection|to_json }}
            };
        </script>
        {% include "analytics/google.html" %}
        {% include "analytics/facebook.html" %}
    </head>
    <body>
    <div id="root"></div>
    <script type="text/javascript" src="{% static "polaris.app.js" %}?v6.9"></script>
    <script type="text/javascript" src="{% static "react.app.js" %}?v6.9"></script>
    <script async type="text/javascript" src="{% static "index.app.js" %}?v6.9"></script>
    {% include "analytics/hotjar.html" %}
    </body>
    </html>
{% endif %}