{% load static %}
{% load json_tags %}
{% csrf_token %}
{% if shop %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link href="{% static "polaris.css" %}?v6.6" rel="stylesheet">
        <link as="script" href="{% static "polaris.app.js" %}?v6.7" rel="preload">
        <link as="script" href="{% static "react.app.js" %}?v6.7" rel="preload">
        <link as="script" href="{% static "unsub.app.js" %}?v6.7" rel="preload">
        <link as="script" href="https://www.google-analytics.com/analytics.js" rel="preload">
        <link as="script" href="https://connect.facebook.net/en_US/fbevents.js" rel="preload">
        <script>
            window.premium = {{ premium|yesno:"true,false" }};
            window.install = {{ install|yesno:"true,false" }};
            window.reinstall = {{ reinstall|yesno:"true,false" }};
            window.t = 'T{{ csrf_token }}';
            window.current_shop = {
                domain: '{{ current_shop }}',
                apiKey: '{{ api_key }}',
                appId: '{{ appId }}',
                shopOrigin: '{{ current_shop }}',
                title: '{{ page_name }}',
                billing: '{% url "shopify_app:subscribe" %}',
                unsubscribe: '{% url "shopify_app:unsubscribe" %}',
                downgrade: '{% url "shopify_app:downgrade" %}',
                premium: {{ shop.premium|yesno:"true,false" }},
                dashboard: '{% url "shopify_app:dashboard" %}',
                forceRedirect: true,
                debug: false
            };
        </script>
        <style>
            .Polaris-CalloutCard > img {
                min-width: 250px;
            }
        </style>
        {% include "analytics/google.html" %}
        {% include "analytics/facebook.html" %}
    </head>
    <body>
    <div id="root"></div>
    <script type="text/javascript" src="{% static "polaris.app.js" %}?v6.7"></script>
    <script type="text/javascript" src="{% static "react.app.js" %}?v6.7"></script>
    <script async type="text/javascript" src="{% static "unsub.app.js" %}?v6.7"></script>
    {% include "analytics/hotjar.html" %}
    </body>
    </html>
{% endif %}