<div class="container row auto-shadow mb-2" style="margin: 20px auto;">
    <div class="row align-items-center w-100 mx-0" style="padding: 10px;">
        <div class="feature form w-100">
            <div class="feature-text text-center"><h3>Join Millions of Shopify partners with Feed Product</h3>
                <form class="form-inline justify-content-between shop_start"
                      action="{% url 'shopify_app:authenticate' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group m-2 flex-grow-1"><label for="shop_f" class="sr-only">Your shopify store's
                        link</label> <input class="form-control flex-fill" name="shop" id="shop_f"
                                            placeholder="Your shopify store's link"></div>
                    <button type="submit" class="btn btn-dark m-2 text-uppercase">Start Free</button>
                </form>
                <div class="m-2">
                    <small>Get yourself the free version for good! No credit card required!</small>
                </div>
            </div>
        </div>
    </div>
</div>