{% extends "base.html" %}
{% load static %}
{% block title %}Feed Product - Cookie Policies{% endblock %}
{% block content %}
    <section class="case">
        <div class="container">
            <div class="row justify-content-xl-between mb-3 justify-content-between">
                <div class="col-xl-12 align-self-center d-flex justify-content-center flex-column text-center">
                    <div class="m-2"><h2 class="">Privacy Policies</h2>
                        <p>Ваши личные данные обрабатываются нами только в соответствии с положениями эстонского
                            законодательства о конфиденциальности данных. Следующие положения описывают тип, объем и
                            цель
                            сбора, обработки и использования персональных данных. Эта политика конфиденциальности данных
                            распространяется только на наши веб-страницы. Если ссылки на наших страницах направляют вас
                            на
                            другие страницы, пожалуйста, поинтересуйтесь там, как обрабатываются ваши данные в таких
                            случаях.</p></div>
                </div>
            </div>
            <div class="row justify-content-xl-between mb-3 justify-content-between">
                <div class="col-xl-12 align-self-center d-flex justify-content-center flex-column text-center">
                    <div class="m-2"><h2 class="">Данные инвентаризации</h2>
                        <p>Ваши личные данные, если они необходимы для этих договорных отношений (данные инвентаризации)
                            с
                            точки зрения их установления, организации контента и изменений, используются исключительно
                            для
                            выполнения договора. Например, для доставки товара ваше имя и адрес должны быть переданы
                            поставщику товара.</p>
                        <p>Без вашего явного согласия или юридического обоснования ваши личные данные не передаются
                            третьим
                            лицам за рамками выполнения настоящего договора. После завершения договора ваши данные
                            блокируются от дальнейшего использования. После истечения сроков в соответствии с налоговыми
                            и
                            коммерческими нормативными актами эти данные будут удалены, если вы не дали явного согласия
                            на
                            их дальнейшее использование.</p></div>
                </div>
            </div>
            <div class="row justify-content-xl-between mb-3 justify-content-between">
                <div class="col-xl-12 align-self-center d-flex justify-content-center flex-column text-center">
                    <div class="m-2"><h2 class="">Веб-анализ с помощью Google Analytics</h2>
                        <p>Этот сайт использует Google Analytics, службу веб-анализа Google Inc. (Google). Google
                            Analytics
                            использует файлы cookie, т. Е. Текстовые файлы, хранящиеся на вашем компьютере, для анализа
                            использования вами веб-сайта. Информация об использовании вами данного веб-сайта, полученная
                            с
                            помощью файлов cookie, обычно передается на сервер Google в США и сохраняется там. Однако, в
                            случае активированной анонимности IP-адресов на этом веб-сайте, ваш IP-адрес предварительно
                            усекается Google в государствах-членах Европейского Союза или в других государствах, которые
                            являются сторонами соглашения о Европейском экономическом пространстве. Только в
                            исключительных
                            случаях полный IP-адрес передается на сервер Google в США и там обрезается. От имени
                            владельца
                            этого веб-сайта Google будет использовать эту информацию для оценки вашего использования
                            веб-сайта, составления отчетов о деятельности веб-сайта, и предоставлять оператору веб-сайта
                            дополнительные услуги, связанные с использованием веб-сайта и Интернета. IP-адрес,
                            отправленный
                            из вашего браузера как часть Google Analytics, не объединяется с другими данными Google. Вы
                            можете предотвратить сохранение файлов cookie, правильно настроив программное обеспечение
                            своего
                            браузера; в этом случае, однако, обратите внимание, что вы не сможете в полной мере
                            использовать
                            все функции, предлагаемые на этом сайте. Кроме того, вы можете предотвратить сбор и
                            обработку
                            данных, сгенерированных cookie-файлом и относящихся к использованию вами веб-сайта (включая
                            ваш
                            IP-адрес), путем загрузки и установки подключаемого модуля браузера по следующей ссылке: Вы
                            можете предотвратить сохранение файлов cookie, правильно настроив программное обеспечение
                            своего
                            браузера; в этом случае, однако, обратите внимание, что вы не сможете в полной мере
                            использовать
                            все функции, предлагаемые на этом сайте. Кроме того, вы можете предотвратить сбор и
                            обработку
                            данных, сгенерированных cookie-файлом и относящихся к использованию вами веб-сайта (включая
                            ваш
                            IP-адрес), путем загрузки и установки подключаемого модуля браузера по следующей ссылке: Вы
                            можете предотвратить сохранение файлов cookie, правильно настроив программное обеспечение
                            своего
                            браузера; в этом случае, однако, обратите внимание, что вы не сможете в полной мере
                            использовать
                            все функции, предлагаемые на этом сайте. Кроме того, вы можете предотвратить сбор и
                            обработку
                            данных, сгенерированных cookie-файлом и относящихся к использованию вами веб-сайта (включая
                            ваш
                            IP-адрес), путем загрузки и установки подключаемого модуля браузера по следующей ссылке:<a
                                    href="http://tools.google.com/dlpage/gaoptout?hl=en">http://tools.google.com/dlpage/gaoptout?hl=en</a>
                        </p></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}