{% extends "base.html" %}
{% load static %}
{% block title %}Help Center{% endblock %}
{% block ld_json %}{% include "ld_json_faq.html" %}{% endblock %}
{% block content %}
    <section class="case align-items-stretch section-fullheight">
        <div class="container row">
            {% include "include/help_center_header.html" %}
            <div class="row align-items-center my-2 mx-0 p-0 w-100">
                <div class="faq auto-shadow w-100">
                    <div class="faq-text"><a href="/help_center/how_install.html" class="btn btn-outline-dark">HOW TO
                        INSTALL FEED
                        PRODUCT
                        IN SHOPIFY</a></div>
                </div>
            </div>
            <div class="row align-items-center my-2 mx-0 p-0 w-100">
                <div class="faq auto-shadow w-100">
                    <div class="faq-text"><a href="/help_center/how_configure.html" class="btn btn-outline-dark">HOW TO
                        CONFIGURE FEED
                        PRODUCT IN SHOPIFY</a></div>
                </div>
            </div>
            <div class="row align-items-center my-2 mx-0 p-0 w-100">
                <div class="faq auto-shadow w-100">
                    <div class="faq-text"><a href="/help_center/how_setup_facebook_catalog_feed.html"
                                             class="btn btn-outline-dark">HOW TO CONNECT FEED
                        PRODUCT
                        TO FACEBOOK</a></div>
                </div>
            </div>
            <div class="row align-items-center my-2 mx-0 p-0 w-100">
                <div class="faq auto-shadow w-100">
                    <div class="faq-text"><a href="/help_center/how_setup_google_merchant_feed.html"
                                             class="btn btn-outline-dark">HOW TO CONNECT FEED
                        PRODUCT
                        TO GOOGLE</a></div>
                </div>
            </div>
            <div class="row align-items-center my-2 mx-0 p-0 w-100">
                <div class="faq auto-shadow w-100">
                    <div class="faq-text"><a href="/help_center/how_setup_instagram_feed.html"
                                             class="btn btn-outline-dark">HOW TO
                        CONNECT FEED
                        PRODUCT
                        TO INSTAGRAM</a></div>
                </div>
            </div>
            <div class="row align-items-center my-2 mx-0 p-0 w-100">
                <div class="faq auto-shadow w-100">
                    <div class="faq-text"><a href="/help_center/how_setup_yottos_adload_feed.html"
                                             class="btn btn-outline-dark">HOW TO CONNECT FEED
                        PRODUCT
                        TO YOTTOS</a></div>
                </div>
            </div>
            <div class="row align-items-center my-2 mx-0 p-0 w-100">
                <div class="faq auto-shadow w-100">
                    <div class="faq-text"><a href="/help_center/how_setup_pinterest_feed.html"
                                             class="btn btn-outline-dark">HOW TO CONNECT FEED
                        PRODUCT
                        TO PINTEREST</a></div>
                </div>
            </div>
            <div class="row align-items-center my-2 mx-0 p-0 w-100">
                <div class="faq auto-shadow w-100">
                    <div class="faq-text"><a href="/help_center/how_create_facebook_pixel.html"
                                             class="btn btn-outline-dark">
                        HOW TO CREATE A PIXEL IN THE BUSINESS MANAGER OF THE FACEBOOK
                    </a></div>
                </div>
            </div>
            <div class="row align-items-center my-2 mx-0 p-0 w-100">
                <div class="faq auto-shadow w-100">
                    <div class="faq-text"><a href="/help_center/upload_products_in_facebook_store.html"
                                             class="btn btn-outline-dark">
                        HOW TO UPLOAD YOUR PRODUCTS IN YOUR FACEBOOK STORE USING FEED PRODUCT
                    </a></div>
                </div>
            </div>
            <div class="row align-items-center my-2 mx-0 p-0 w-100">
                <div class="faq auto-shadow w-100">
                    <div class="faq-text"><a href="/help_center/dynamic_remarketing_in_facebook.html"
                                             class="btn btn-outline-dark">
                        HOW TO LAUNCH DYNAMIC REMARKETING IN FACEBOOK USING FEED PRODUCT
                    </a></div>
                </div>
            </div>
            <div class="row align-items-center my-2 mx-0 p-0 w-100">
                <div class="faq auto-shadow w-100">
                    <div class="faq-text"><a href="/help_center/strategies_in_feed_product.html"
                                             class="btn btn-outline-dark">
                        WHAT FEEDS AND STRATEGIES SHOULD I GENERATE IN FEED PRODUCT
                    </a></div>
                </div>
            </div>
            <div class="row align-items-center my-2 mx-0 p-0 w-100">
                <div class="feature auto-shadow form text-white w-100">
                    <div class="feature-text"><h3>Join Millions of Shopify partners with Feed Product</h3>
                        {% include "include/form2.html" %}
                        <div class="m-2">
                            <small>Get yourself the free version for good! No credit card required!</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div></div>
{% endblock %}