{% extends "base.html" %}
{% load static %}
{% block title %}How setup Pinterest feed{% endblock %}
{% block ld_json %}
    <script type="application/ld+json">
 {
  "@context": "http://schema.org",
  "@type": "HowTo",
  "image": {
    "@type": "ImageObject",
    "url": "{% static 'images/connect_feeds_with_feed_product.png' %}"
  },
  "name": "Feed Product - AUTOMATIC SETUP OF ADVERTISING CAMPAIGNS",
  "description": "HOW TO ACTIVATE AUTOMATIC SETUP OF ADVERTISING CAMPAIGNS",
  "totalTime": "PT10M",
  "supply": [
    {
      "@type": "HowToSupply",
      "name": "Shopify Store",
      "url":  "https://www.shopify.com/"
    }, {
      "@type": "HowToSupply",
      "name": "Feed Product - Shopify App Store",
      "url":  "https://feed-product.com/"
    }, {
      "@type": "HowToSupply",
      "name": "Pinterest",
      "url": "https://www.pinterest.com/product-catalogs/"
    }
  ],
  "tool": [
    {
      "@type": "HowToTool",
      "name": "Feed Product - Shopify App Store",
      "url":  "https://feed-product.com/"
    }
  ],
  "step": [
    {
      "@type": "HowToStep",
      "name": "Open 'Catalog' section, and click 'Get started'",
      "text": "To create a catalog in Pinterest, you will need to go to 'Catalog' section (pinterest.com/product-catalogs/).",
      "image": "{% static 'images/help_center/help_pinterest/1.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_pinterest_feed.html#step-1"
    },
    {
      "@type": "HowToStep",
      "name": "Click 'Add data source'",
      "text": "Click on the 'Add data souce' button in this window.'",
      "image": "{% static 'images/help_center/help_pinterest/2.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_pinterest_feed.html#step-2"
    },
    {
      "@type": "HowToStep",
      "name": "Fill in data feed URL, select type file and currency",
      "text": "In this window you will need to: Fill in the Data Feed, that was made for you by Feed Product app.",
      "image": "{% static 'images/help_center/help_pinterest/3.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_pinterest_feed.html#step-3"
    },
    {
      "@type": "HowToStep",
      "name": "Select type - XML",
      "text": "When the link if filled, select the data file type - XML.",
      "image": "{% static 'images/help_center/help_pinterest/4.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_pinterest_feed.html#step-4"
    },
    {
      "@type": "HowToStep",
      "name": "Select the currency that was set in the data feed",
      "text": "After that you will need to select the currency that was set in the data feed imported from Feed Product.",
      "image": "{% static 'images/help_center/help_pinterest/5.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_pinterest_feed.html#step-5"
    },
    {
      "@type": "HowToStep",
      "name": "Click 'Create Pins'",
      "text": "When all fields are filled, click on 'Create Pins'.",
      "image": "{% static 'images/help_center/help_pinterest/6.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_pinterest_feed.html#step-6"
    },
    {
      "@type": "HowToStep",
      "name": "Click 'Continue'",
      "text": "File is validated, press 'Continue' to move on.",
      "image": "{% static 'images/help_center/help_pinterest/7.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_pinterest_feed.html#step-7"
    },
    {
      "@type": "HowToStep",
      "name": "Pin Catalog's created",
      "text": "After data source check you will receive the verification e-mail. Usually it takes 24-48 hours.",
      "image": "{% static 'images/help_center/help_pinterest/8.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_pinterest_feed.html#step-8"
    }
  ]
}


    </script>
{% endblock %}
{% block content %}
    <section class="case section-fullheight" id="Watch video">
        <div class="container">
            <div class="row auto-shadow text-center" style="margin-bottom: 10px">
                <a href="{% url "help_center" %}" class="w-100 text-dark">
                    <h2 class="base text-reset">Help Center</h2>
                </a>
                <h2 class="base">HOW TO ACTIVATE AUTOMATIC SETUP OF ADVERTISING CAMPAIGNS</h2>
            </div>
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0 w-100">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6 d-none d-sm-block">
                        <h2>Watch video</h2>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                        <p></p>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <iframe class="roll-up" width="100%" height="400"
                                src="https://www.youtube.com/embed/A9-Rt6yXad8?color=red&loop=1&rel=0&iv_load_policy=3&modestbranding=1&showinfo=1"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "include/form4.html" %}
    {#    <div class="scroller"></div>#}
{% endblock %}