{% extends "base.html" %}
{% load static %}
{% block title %}Feed Product - How Install{% endblock %}
{% block ld_json %}
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "HowTo",
  "image": {
    "@type": "ImageObject",
    "url": "{% static 'images/help_center/1.jpg' %}"
  },
  "name": "Feed Product - How Install",
  "description": "Install Feed Product",
  "step": [
    {
      "@type": "HowToStep",
      "name": "Enter your shopify store link",
      "text": "Paste the link to your store into the form and click on the start free button.",
      "image": "{% static 'images/help_center/1.jpg' %}",
      "url": "https://feed-product.com/help_center/how_install.html#enter_your_shopify_store_link"
    },
    {
      "@type": "HowToStep",
      "name": "Confirm Installation",
      "text": "Confirm the installation of the application in your store.",
      "image": "{% static 'images/help_center/2.jpg' %}",
      "url": "https://feed-product.com/help_center/how_install.html#confirm_installation"
    },
    {
      "@type": "HowToStep",
      "name": "Enjoy",
      "text": "Enjoy the application, simplify your life.",
      "image": "{% static 'images/help_center/2.jpg' %}",
      "url": "https://feed-product.com/help_center/how_install.html#enjoy"
    }
  ]
}






    </script>
{% endblock %}
{% block content %}
    <section class="case section-fullheight" id="enter_your_shopify_store_link">
        <div class="container">
            <div class="row auto-shadow text-center" style="margin-bottom: 10px"><h2 class="base">HOW to instal feed
                product in shopify</h2></div>
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Step 1</h2>
                        <p>To increase your effectiveness and your income you can just go to Feed-product, and fill one
                            field!
                        </p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/13.jpg' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="confirm_installation">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Step 2</h2>
                        <p>You only need to put the link of your Shopify shop in this particular field.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/1.jpg' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="enjoy">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Step 3</h2>
                        <p>When you do so, click on "Start for free" button.
                            If you weren't signed in the shop, then Shopify would suggest you to sign in your account.
                            If you were signed in, system will automatically open next page and move to the next
                            step.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/1_1.jpg' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="enjoy">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Step 4</h2>
                        <p>After that the infopage about the Feed Product will load up. When you will be done with
                            getting it to know, click on "Install unlisted app" to add this application into your
                            shop.</p><a href="/" class="faq-item-more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/2.jpg' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="enjoy">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Step 5</h2>
                        <p>Application added! When you add the app, it will start up automatically and will be ready to
                            work.</p><a href="/" class="faq-item-more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/3.jpg' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container row auto-shadow mb-2">
        <div class="row align-items-center w-100 mx-0">
            <div class="feature form w-100">
                <div class="feature-text text-center"><h3>Join Millions of Shopify partners with Feed Product</h3>
                    <form class="form-inline justify-content-between shop_start"
                          action="{% url 'shopify_app:authenticate' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group m-2 flex-grow-1"><label for="shop_f" class="sr-only">Your shopify store's
                            link</label> <input class="form-control flex-fill" name="shop" id="shop_f"
                                                placeholder="Your store's link"></div>
                        <button type="submit" class="btn btn-dark m-2 text-uppercase">Start Free</button>
                    </form>
                    <div class="m-2">
                        <small>Get yourself the free version for good! No credit card required!</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroller"></div>
{% endblock %}