{% extends "base.html" %}
{% load static %}
{% block title %}Feed Product - How Install{% endblock %}
{% block ld_json %}
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "HowTo",
  "image": {
    "@type": "ImageObject",
    "url": "{% static 'images/connect_feeds_with_feed_product.png' %}"
  },
  "name": "Feed Product - How Install",
  "description": "HOW to install feed product in shopify",
  "totalTime": "PT2M",
  "supply": [
    {
      "@type": "HowToSupply",
      "name": "Shopify Store",
      "url":  "https://www.shopify.com/"
    }, {
      "@type": "HowToSupply",
      "name": "Feed Product - Shopify App Store",
      "url":  "https://feed-product.com/"
    }
  ],
  "tool": [
    {
      "@type": "HowToTool",
      "name": "Feed Product - Shopify App Store",
      "url":  "https://feed-product.com/"
    }
  ],
  "step": [
    {
      "@type": "HowToStep",
      "name": "Step 1",
      "text": "To increase your effectiveness and your income you can just go to Feed-product, and fill one field!",
      "image": "{% static 'images/help_center/13.jpg' %}",
      "url": "https://feed-product.com/help_center/how_install.html#step-1"
    },
    {
      "@type": "HowToStep",
      "name": "Step 2",
      "text": "You only need to put the link of your Shopify shop in this particular field.",
      "image": "{% static 'images/help_center/1.jpg' %}",
      "url": "https://feed-product.com/help_center/how_install.html#step-2"
    },
    {
      "@type": "HowToStep",
      "name": "Step 3",
      "text": "When you do so, click on 'Start for free' button. If you weren't signed in the shop, then Shopify would suggest you to sign in your account. If you were signed in, system will automatically open next page and move to the next step.",
      "image": "{% static 'images/help_center/1_1.jpg' %}",
      "url": "https://feed-product.com/help_center/how_install.html#step-3"
    },
    {
      "@type": "HowToStep",
      "name": "Step 4",
      "text": "After that the infopage about the Feed Product will load up. When you will be done with getting it to know, click on "Install unlisted app" to add this application into your shop.",
      "image": "{% static 'images/help_center/2.jpg' %}",
      "url": "https://feed-product.com/help_center/how_install.html#step-4"
    },
    {
      "@type": "HowToStep",
      "name": "Step 5",
      "text": "Application added! When you add the app, it will start up automatically and will be ready to work.",
      "image": "{% static 'images/help_center/3.jpg' %}",
      "url": "https://feed-product.com/help_center/how_install.html#step-5"
    }
  ]
}

    </script>
{% endblock %}
{% block content %}
    <section class="case section-fullheight" id="step-1">
        <div class="container">
            <div class="row auto-shadow text-center" style="margin-bottom: 10px">
                <h2 class="base" style="width: 100%;">Help Center</h2>
                <h2 class="base">HOW to instal feed
                product in shopify</h2></div>
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Step 1</h2>
                        <p>To increase your effectiveness and your income you can just go to Feed-product, and fill one
                            field!
                        </p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/13.jpg' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-2">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Step 2</h2>
                        <p>You only need to put the link of your Shopify shop in this particular field.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/1.jpg' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-3">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Step 3</h2>
                        <p>When you do so, click on "Start for free" button.
                            If you weren't signed in the shop, then Shopify would suggest you to sign in your account.
                            If you were signed in, system will automatically open next page and move to the next
                            step.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/1_1.jpg' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-4">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Step 4</h2>
                        <p>After that the infopage about the Feed Product will load up. When you will be done with
                            getting it to know, click on "Install unlisted app" to add this application into your
                            shop.</p><a href="/" class="faq-item-more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/2.jpg' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-5">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Step 5</h2>
                        <p>Application added! When you add the app, it will start up automatically and will be ready to
                            work.</p><a href="/" class="faq-item-more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/3.jpg' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "include/form4.html" %}
    <div class="scroller"></div>
{% endblock %}