{% extends "base.html" %}
{% load static %}
{% block title %}Feed Product - How setup Yottos Adload feed{% endblock %}
{% block ld_json %}{% endblock %}
{% block content %}
    <section class="case section-fullheight" id="step-1">
        <div class="container">
            <div class="row auto-shadow text-center" style="margin-bottom: 10px">
                <h2 class="base" style="width: 100%;">Help Center</h2>
                <h2 class="base">HOW TO CONNECT FEED PRODUCT TO YOTTOS</h2></div>
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 1</h2>
                        <p>To upload your Feed Product in Yottos you will need to log in your personal account and move
                            to "Feeds" section.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_yottos/1.jpg' %}"
                             alt="Log in to the app">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-2">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 2</h2>
                        <p>In the "Feeds" section click on the blue cross in upper-left corner.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_yottos/2.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-3">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 3</h2>
                        <p>In the "Feed Info" section you will need to:</p>
                        <p>- Fill in the name of the Feed you are making.</p>
                        <p>- Fill in the Data Feed URL, that was made for you in the Feed Product app.</p>
                        <p>- Activate "Extended settings"</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_yottos/3.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-4">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 4</h2>
                        <p>When all fields are filled, click "Next"</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_yottos/4.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-5">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 5</h2>
                        <p>In the "Parse Time" section you will need to set day and time when system should update the
                            feed.</p>
                        <p>When you set days and time, click "Next".</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_yottos/5.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-6">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 6</h2>
                        <p>In the "Feed Template" section you will need to select the fields to show in the presentation
                            of Your offer.</p>
                        <p>To the right you can see the example, that was made with Your File. You can see all the tags
                            it uses, and that are available. </p>
                        <p>When all the required fields are filled, click "Next".</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_yottos/6.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-7">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 7</h2>
                        <p>In the "In Campaign" you will need to select the campaign to assign your feed to.</p>
                        <p>This section can be skipped, and the feed can be assigned later.</p>
                        <p>Lets press "Save & Close".</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_yottos/7.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-8">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 8</h2>
                        <p>Feed is created, and it is in the first place of your feeds list.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_yottos/8.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "include/form4.html" %}
    <div class="scroller"></div>
{% endblock %}