{% extends "base.html" %}
{% load static %}
{% block title %}Feed Product - How Install{% endblock %}
{% block ld_json %}{% endblock %}
{% block content %}
    <section class="case section-fullheight" id="Enter your shopify store link">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Enter your shopify store link</h2>
                        <p>Paste the link to your store into the form and click on the start free button</p></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/1.png' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Confirm Installation">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Confirm Installation</h2>
                        <p>Confirm the installation of the application in your store</p></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/1.png' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Enjoy">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>enjoy</h2>
                        <p>Enjoy the application, simplify your life</p></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/3.png' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class=""></div>
{% endblock %}