{% extends "base.html" %}
{% load static %}
{% block title %}How setup Google Merchant{% endblock %}
{% block ld_json %}
    <script type="application/ld+json">
 {
  "@context": "http://schema.org",
  "@type": "HowTo",
  "image": {
    "@type": "ImageObject",
    "url": "{% static 'images/connect_feeds_with_feed_product.png' %}"
  },
  "name": "Feed Product - CONNECT FEED PRODUCT TO GOOGLE",
  "description": "HOW TO CONNECT FEED PRODUCT TO GOOGLE MERCHANTS",
  "totalTime": "PT10M",
  "supply": [
    {
      "@type": "HowToSupply",
      "name": "Shopify Store",
      "url":  "https://www.shopify.com/"
    }, {
      "@type": "HowToSupply",
      "name": "Feed Product - Shopify App Store",
      "url":  "https://feed-product.com/"
    }, {
      "@type": "HowToSupply",
      "name": "GOOGLE MERCHANTS",
      "url":  "https://merchants.google.com/"
    }
  ],
  "tool": [
    {
      "@type": "HowToTool",
      "name": "Feed Product - Shopify App Store",
      "url":  "https://feed-product.com/"
    }
  ],
  "step": [
    {
      "@type": "HowToStep",
      "name": "Go to the Google Merchant Center, and move to 'Products' section",
      "text": "To upload Feed Product into the merchants.google.com Go to merchants.google.com And move to 'Products' section in the opened window.",
      "image": "{% static 'images/help_center/help_google/5.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_google_merchant_feed.html#Step-1"
    },
    {
      "@type": "HowToStep",
      "name": "Select 'Multiple products' option and click on 'Create Product feed'",
      "text": "In this section select 'Multiple products' option and click on 'Create Product feed'.",
      "image": "{% static 'images/help_center/help_google/3.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_google_merchant_feed.html#Step-2"
    },
    {
      "@type": "HowToStep",
      "name": "Set your Country and Language info.",
      "text": "In the 'Basic information' section fill in your Country and Language info.",
      "image": "{% static 'images/help_center/help_google/1.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_google_merchant_feed.html#Step-3"
    },
    {
      "@type": "HowToStep",
      "name": "Click 'Continue'",
      "text": "When all fields are filled, click 'Continue'.",
      "image": "{% static 'images/help_center/help_google/2.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_google_merchant_feed.html#Step-4"
    },
    {
      "@type": "HowToStep",
      "name": "Enter the feed's name",
      "text": "In the 'Name and input method' section you will need to fill in the name of the new field.",
      "image": "{% static 'images/help_center/help_google/6.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_google_merchant_feed.html#Step-5"
    },
    {
      "@type": "HowToStep",
      "name": "Select 'Scheduled fetch' method",
      "text": "You will also need to select 'Scheduled fetch' method",
      "image": "{% static 'images/help_center/help_google/7.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_google_merchant_feed.html#Step-6"
    },
    {
      "@type": "HowToStep",
      "name": "Click 'Continue'",
      "text": "When all these fields are filled, click 'Continue'.",
      "image": "{% static 'images/help_center/help_google/8.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_google_merchant_feed.html#Step-7"
    },
    {
      "@type": "HowToStep",
      "name": "Fill in the five points indicated.",
      "text": "In the 'Setup' section you will need to fill in: Imported file's name, Update frequency (Daily, Weekly, Monthly)... Put here Data Feed's URL, that was made for you by Feed Product app",
      "image": "{% static 'images/help_center/help_google/9.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_google_merchant_feed.html#Step-8"
    },
    {
      "@type": "HowToStep",
      "name": "Fields filled!",
      "text": "Fields filled!",
      "image": "{% static 'images/help_center/help_google/10.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_google_merchant_feed.html#Step-9"
    },
    {
      "@type": "HowToStep",
      "name": "Create feed",
      "text": "Click on 'Create feed'",
      "image": "{% static 'images/help_center/help_google/11.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_google_merchant_feed.html#Step-10"
    },
    {
      "@type": "HowToStep",
      "name": "Feed is created",
      "text": "Feed is created, and you can check it in the 'Product' section of 'Feeds' tab.",
      "image": "{% static 'images/help_center/help_google/12.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_google_merchant_feed.html#Step-11"
    }
  ]
}

    </script>
{% endblock %}
{% block content %}
    <section class="case section-fullheight" id="Step-1">
        <div class="container">
            <div class="row auto-shadow text-center" style="margin-bottom: 10px">
                <h2 class="base" style="width: 100%;">Help Center</h2>
                <h2 class="base">HOW TO CONNECT FEED PRODUCT TO GOOGLE</h2>
            </div>
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 1</h2>
                        <p>To upload Feed Product into the merchants.google.com</p>
                        <p>Go to merchants.google.com</p>
                        <p>And move to "Products" section in the opened window.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_google/5.jpg' %}"
                             alt="Log in to the app">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Step-2">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 2</h2>
                        <p>In this section select "Multiple products" option and click on "Create Product feed".</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_google/3.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Step-3">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 3</h2>
                        <p>In the "Basic information" section fill in your Country and Language info.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_google/1.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Step-4">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 4</h2>
                        <p>When all fields are filled, click "Continue".</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_google/2.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Step-5">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 5</h2>
                        <p>In the "Name and input method" section you will need to fill in the name of the new
                            field.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_google/6.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Step-6">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 6</h2>
                        <p>You will also need to select "Scheduled fetch" method.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_google/7.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Step-7">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 7</h2>
                        <p>When all these fields are filled, click "Continue".</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_google/8.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Step-8">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 8</h2>
                        <p>In the "Setup" section you will need to fill in:</p>
                        <p>1. Imported file's name</p>
                        <p>2. Update frequency (Daily, Weekly, Monthly).</p>
                        <p>3. Custom update frequency.</p>
                        <p>4. Time zone.</p>
                        <p>5. Put here Data Feed's URL, that was made for you by Feed Product app.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_google/9.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Step-9">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 9</h2>
                        <p>Fields filled!</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_google/10.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Step-10">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 10</h2>
                        <p>Click on "Create feed"</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_google/11.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Step-11">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 11</h2>
                        <p>Feed is created, and you can check it in the "Product" section of "Feeds" tab.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_google/12.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "include/form4.html" %}
    <div class="scroller"></div>
{% endblock %}