{% extends "base.html" %}
{% load static %}
{% block title %}Feed Product - How Configure{% endblock %}
{% block ld_json %}
    <script type="application/ld+json">
 {
  "@context": "http://schema.org",
  "@type": "HowTo",
  "image": {
    "@type": "ImageObject",
    "url": "{% static 'images/connect_feeds_with_feed_product.png' %}"
  },
  "name": "Feed Product - Configure feed product in shopify",
  "description": "How to configure feed product in shopify",
  "totalTime": "PT10M",
  "supply": [
    {
      "@type": "HowToSupply",
      "name": "Shopify Store",
      "url":  "https://www.shopify.com/"
    }, {
      "@type": "HowToSupply",
      "name": "Feed Product - Shopify App Store",
      "url":  "https://feed-product.com/"
    }
  ],
  "tool": [
    {
      "@type": "HowToTool",
      "name": "Feed Product - Shopify App Store",
      "url":  "https://feed-product.com/"
    }
  ],
  "step": [
    {
      "@type": "HowToStep",
      "name": "Step 1",
      "text": "The app has 4 tabs for different ad sources: Facebook Feed (Instagram), Google Feed, Yottos Feed and Pinterest feed.",
      "image": "{% static 'images/help_center/4.jpg' %}",
      "url": "https://feed-product.com/help_center/how_configure.html#Step1"
    },
    {
      "@type": "HowToStep",
      "name": "Step 2",
      "text": "To customize settings of each of these sections you can use such fields as 'Your Collection', and 'Your UTM tag'",
      "image": "{% static 'images/help_center/8.jpg' %}",
      "url": "https://feed-product.com/help_center/how_configure.html#Step2"
    },
    {
      "@type": "HowToStep",
      "name": "Step 3",
      "text": "Besides that, there are also two more fields present: '... product feed set up and your app option'.",
      "image": "{% static 'images/help_center/9.jpg' %}",
      "url": "https://feed-product.com/help_center/how_configure.html#Step3"
    },
    {
      "@type": "HowToStep",
      "name": "Step 4",
      "text": "Your collection field is used for selecting products, which is in your stock, and putting them in the generated new feed.",
      "image": "{% static 'images/help_center/6.jpg' %}",
      "url": "https://feed-product.com/help_center/how_configure.html#Step4"
    },
    {
      "@type": "HowToStep",
      "name": "Step 5",
      "text": "'Your UTM tag' field is needed for utm-tagging, which will be also generated for all products in the feed.",
      "image": "{% static 'images/help_center/7.jpg' %}",
      "url": "https://feed-product.com/help_center/how_configure.html#Step5"
    },
    {
      "@type": "HowToStep",
      "name": "Step 6",
      "text": "'Your app option' field shows you all available options in your application (contents may vary due to the subscription type).",
      "image": "{% static 'images/help_center/5.jpg' %}",
      "url": "https://feed-product.com/help_center/how_configure.html#Step6"
    },
    {
      "@type": "HowToStep",
      "name": "Step 7",
      "text": "... product feed set up shows you the final feed, with all the settings made in Feed Product and all subscription functions you have.",
      "image": "{% static 'images/help_center/11.jpg' %}",
      "url": "https://feed-product.com/help_center/how_configure.html#Step7"
    }
  ]
}


    </script>
{% endblock %}
{% block content %}
    <section class="case section-fullheight" id="Step1">
        <div class="container">
            <div class="row auto-shadow text-center" style="margin-bottom: 10px">
                <h2 class="base" style="width: 100%;">Help Center</h2>
                <h2 class="base">How to configure feed
                    product in shopify</h2></div>
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Step 1</h2>
                        <p>The app has 4 tabs for different ad sources: Facebook Feed (Instagram), Google Feed, Yottos
                            Feed and Pinterest feed.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/4.jpg' %}"
                                                                                    alt="Log in to the app"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Step2">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Step 2</h2>
                        <p>To customize settings of each of these sections you can use such fields as "Your Collection",
                            and "Your UTM tag"</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/8.jpg' %}"
                                                                                    alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Step3">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Step 3</h2>
                        <p>Besides that, there are also two more fields present: "... product feed set up" and "your app
                            option".</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/9.jpg' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Step4">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Step 4</h2>
                        <p>Your collection" field is used for selecting products, which is in your stock, and putting
                            them in the generated new feed.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/6.jpg' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Step5">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Step 5</h2>
                        <p>"Your UTM tag" field is needed for utm-tagging, which will be also generated for all products
                            in the feed.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/7.jpg' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Step6">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Step 6</h2>
                        <p>"Your app option" field shows you all available options in your application (contents may
                            vary due to the subscription type).</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/5.jpg' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Step7">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Step 7</h2>
                        <p>"... product feed set up" shows you the final feed, with all the settings made in Feed
                            Product and all subscription functions you have.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/11.jpg' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "include/form4.html" %}
    <div class="scroller"></div>
{% endblock %}