{% extends "base.html" %}
{% load static %}
{% block title %}How to create a Pixel in the Business Manager of the Facebook{% endblock %}
{% block ld_json %}
    <script type="application/ld+json">
 {
  "@context": "http://schema.org",
  "@type": "HowTo",
  "image": {
    "@type": "ImageObject",
    "url": "{% static 'images/connect_feeds_with_feed_product.png' %}"
  },
  "name": "Feed Product - CREATE PIXEL IN THE BUSINESS MANAGER",
  "description": "How to create a Pixel in the Business Manager of the Facebook",
  "totalTime": "PT10M",
  "supply": [
    {
      "@type": "HowToSupply",
      "name": "Shopify Store",
      "url":  "https://www.shopify.com/"
    }, {
      "@type": "HowToSupply",
      "name": "Feed Product - Shopify App Store",
      "url":  "https://feed-product.com/"
    }
  ],
  "tool": [
    {
      "@type": "HowToTool",
      "name": "Feed Product - Shopify App Store",
      "url":  "https://feed-product.com/"
    }
  ],
  "step": [
    {
      "@type": "HowToStep",
      "name": "To create a new pixel , you will need to have  admin rights in Business Manager your campaign",
      "text": "To create a new pixel for facebook, you will need to have admin rights in your Business Manager account. If you do have the rights, you will need to go to Campagin Settings in Business Manager (https://business.facebook.com/settings). If there are more then one campaign in your account - select the one you need.",
      "image": "{% static 'images/help_center/Fb1/0.png' %}",
      "url": "https://feed-product.com/help_center/how_create_facebook_pixel.html#step-1"
    },
    {
      "@type": "HowToStep",
      "name": "Select 'Data Sources'",
      "text": "After that you will have to select 'Data Sources' in the menu to the left.",
      "image": "{% static 'images/help_center/Fb1/1.png' %}",
      "url": "https://feed-product.com/help_center/how_create_facebook_pixel.html#step-2"
    }
  ]
}


    </script>
{% endblock %}
{% block content %}
    <section class="case section-fullheight" id="step-1">
        <div class="container">
            <div class="row auto-shadow text-center" style="margin-bottom: 10px">
                <a href="{% url "index" %}" class="w-100 text-dark">
                    <h2 class="base text-reset">Help Center</h2>
                </a>
                <h2 class="base">HOW TO CREATE A PIXEL IN THE BUSINESS MANAGER OF THE FACEBOOK</h2></div>
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 1</h2>
                        <p>To create a new pixel for facebook, you will need to have admin rights in your Business
                            Manager account. </p>
                        <p>If you do have the rights, you will need to go to <a
                                href="https://business.facebook.com/settings">Campagin Settings</a> in Business Manager
                        </p>
                        <p>If there are more then one campaign in your account - select the one you need.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up scale" src="{% static 'images/help_center/Fb1/0.png' %}"
                             alt="Log in to the app">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-2">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 2</h2>
                        <p>After that you will have to select 'Data Sources' in the menu to the left.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up scale" src="{% static 'images/help_center/Fb1/1.png' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-3">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 3</h2>
                        <p>You will need to select 'Pixels' option in this field of this tab.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up scale" src="{% static 'images/help_center/Fb1/2.png' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-4">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 4</h2>
                        <p>In the opened section you can see all the created pixels, and you can create new one</p>
                        <p>To make a new pixel you will need to click on the 'Add' button</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up scale" src="{% static 'images/help_center/Fb1/3.png' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-5">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 5</h2>
                        <p>In the new window you will need to select the name of the pixel.</p>
                        <p>You also may fill in the URL of the site, which will use this exact pixel (but this is
                            optional).</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up scale" src="{% static 'images/help_center/Fb1/4.png' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-6">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 6</h2>
                        <p>When you have finished filling in pixel name field with or without site's URL, click
                            'Continue'</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up scale" src="{% static 'images/help_center/Fb1/5.png' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-7">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 7</h2>
                        <p>After this Facebook will suggest you to install the Pixel on your site, or return to campaign
                            management</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up scale" src="{% static 'images/help_center/Fb1/6.png' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-8">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 8</h2>
                        <p>Select the 'Return to campaign management' option.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up scale" src="{% static 'images/help_center/Fb1/7.png' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-9">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 9</h2>
                        <p>Pixel is created. You can see the new pixel in the menu to the left.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up scale" src="{% static 'images/help_center/Fb1/8.png' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-10">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 10</h2>
                        <p>To send and install Facebook Pixel on your site - open your pixel by clicking on 'Open in
                            Events Manager'</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up scale" src="{% static 'images/help_center/Fb1/9.png' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-11">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 11</h2>
                        <p>Click on the 'Settings' button</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up scale" src="{% static 'images/help_center/Fb1/10.png' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-12">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 12</h2>
                        <p>Click on the 'Install pixel' button in the dropdown list, and select one of the options of
                            pixel installation.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up scale" src="{% static 'images/help_center/Fb1/11.png' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-13">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 13</h2>
                        <p>After this, the only thing left for you to do is to install the pixel's code on your site
                            according to Facebook's reccomendation.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up scale" src="{% static 'images/help_center/Fb1/12.png' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin: 20px auto;">
        <div class="row auto-shadow" style="padding: 10px;">
            <div class="feature w-100">
                <div class="feature-text text-center"><h3>Perhaps you'd be interested in:</h3></div>
                <div>
                    <a href="/help_center/how_install.html" class="faq-item-more-link">HOW to install feed product in
                        shopify</a>
                </div>
                <div>
                    <a href="/help_center/how_configure.html" class="faq-item-more-link">How to configure feed product
                        in shopify</a>
                </div>
            </div>
        </div>
    </div>
    {% include "include/form4.html" %}
    <div class="scroller"></div>
{% endblock %}