{% extends "base.html" %}
{% load static %}
{% block title %}Feed Product - How setup Google Merchant{% endblock %}
{% block ld_json %}{% endblock %}
{% block content %}
    <section class="case section-fullheight" id="Enter your shopify store link">
        <div class="container">
            <div class="row auto-shadow text-center" style="margin-bottom: 10px">
                <h2 class="base" style="width: 100%;">Help Center</h2>
                <h2 class="base">HOW TO CONNECT FEED
                PRODUCT
                TO GOOGLE</h2></div>
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Log in to the app</h2>
                        <p>Log in to the app and copy the feed link</p><a href="/" class="faq-item-more-link">Install
                            app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/13.jpg' %}"
                                                                                    alt="Log in to the app"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Confirm Installation">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Log in to the Google Merchant
                        Center</h2>
                        <p>Sign in to the Google Merchant Center and paste the feed link</p><a href="/"
                                                                                               class="faq-item-more-link">Install
                            app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/13.jpg' %}"
                                                                                    alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Enjoy">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Have any questions</h2>
                        <p>Pay money to professionals, do not flatter yourself. We will do everything.</p><a href="/"
                                                                                                             class="faq-item-more-link">Install
                            app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/help_center/13.jpg' %}"
                                                                                    alt="Enter your shopify store link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "include/form4.html" %}
    <div class="scroller"></div>
{% endblock %}