{% extends "base.html" %}
{% load static %}
{% block title %}How setup Facebook catalog{% endblock %}
{% block ld_json %}
    <script type="application/ld+json">
 {
  "@context": "http://schema.org",
  "@type": "HowTo",
  "image": {
    "@type": "ImageObject",
    "url": "{% static 'images/connect_feeds_with_feed_product.png' %}"
  },
  "name": "Feed Product - CONNECT FEED PRODUCT TO FACEBOOK",
  "description": "HOW TO CONNECT FEED PRODUCT TO FACEBOOK",
  "totalTime": "PT10M",
  "supply": [
    {
      "@type": "HowToSupply",
      "name": "Shopify Store",
      "url":  "https://www.shopify.com/"
    }, {
      "@type": "HowToSupply",
      "name": "Feed Product - Shopify App Store",
      "url":  "https://feed-product.com/"
    }, {
      "@type": "HowToSupply",
      "name": "Facebook Catalog Manager",
      "url":  "https://facebook.com/products/"
    }
  ],
  "tool": [
    {
      "@type": "HowToTool",
      "name": "Feed Product - Shopify App Store",
      "url":  "https://feed-product.com/"
    }
  ],
  "step": [
    {
      "@type": "HowToStep",
      "name": "Open the Catalog Manager, and select option E-commerce",
      "text": "Open the Catalog Manager, and select one of the four options of E-commerce.",
      "image": "{% static 'images/help_center/help_fb_inst/1.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_facebook_catalog_feed.html#step-1"
    },
    {
      "@type": "HowToStep",
      "name": "Click 'Next'",
      "text": "When you finished selection, click 'Next'.",
      "image": "{% static 'images/help_center/help_fb_inst/2.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_facebook_catalog_feed.html#step-2"
    },
    {
      "@type": "HowToStep",
      "name": "Select the option, and enter feed name",
      "text": "In this section you need to select the option of adding new positions to the catalog using data feeds, and fill in the catalog name.",
      "image": "{% static 'images/help_center/help_fb_inst/3.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_facebook_catalog_feed.html#step-3"
    },
    {
      "@type": "HowToStep",
      "name": "Click 'Create'",
      "text": "When it's done, click 'Create'.",
      "image": "{% static 'images/help_center/help_fb_inst/4.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_facebook_catalog_feed.html#step-4"
    },
    {
      "@type": "HowToStep",
      "name": "Click 'View catalogue'",
      "text": "Catalog is created! Click 'View catalogue'",
      "image": "{% static 'images/help_center/help_fb_inst/5.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_facebook_catalog_feed.html#step-5"
    },
    {
      "@type": "HowToStep",
      "name": "Select 'Dynamic ads'",
      "text": "Select 'Dynamic ads' options in this screen.'",
      "image": "{% static 'images/help_center/help_fb_inst/6.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_facebook_catalog_feed.html#step-6"
    },
    {
      "@type": "HowToStep",
      "name": "Select 'Add your products'",
      "text": "Select 'Add your products' option here.",
      "image": "{% static 'images/help_center/help_fb_inst/7.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_facebook_catalog_feed.html#step-7"
    },
    {
      "@type": "HowToStep",
      "name": "Select 'Use data feed', and click 'Next'",
      "text": "Select 'Use data feed' in the opened window, and click 'Next'.",
      "image": "{% static 'images/help_center/help_fb_inst/8.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_facebook_catalog_feed.html#step-8"
    },
    {
      "@type": "HowToStep",
      "name": "Select 'Set automatic file upload schedule' option.",
      "text": "In the 'Upload data feed file' window, in the 'Select Upload Method' menu item, select 'Setautomatic file upload schedule' option.",
      "image": "{% static 'images/help_center/help_fb_inst/9.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_facebook_catalog_feed.html#step-9"
    },
    {
      "@type": "HowToStep",
      "name": "Insert feed's URL",
      "text": "Two new fields appeared at this moment: 'Add Data feed URL' - fill this field with data feed's URL, that was made for you in the Feed Product app.",
      "image": "{% static 'images/help_center/help_fb_inst/10.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_facebook_catalog_feed.html#step-10"
    },
    {
      "@type": "HowToStep",
      "name": "'Set automatic File Upload schedule' - update your feed daily.",
      "text": "'Set automatics File Upload schedule' - select time when the feed will be updated. We recommend you to update your feed daily.",
      "image": "{% static 'images/help_center/help_fb_inst/11.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_facebook_catalog_feed.html#step-11"
    },
    {
      "@type": "HowToStep",
      "name": "Select the 'Automatically upload new versions'",
      "text": "Due to fact that PREMIUM SUBSCRIPTION of Feed Product grants you the option to parce all of the product changes in your shop in the real time, we recommend you to select the 'Automatically upload new versions' option to update your feed right after the changes regardless of update time.",
      "image": "{% static 'images/help_center/help_fb_inst/12.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_facebook_catalog_feed.html#step-12"
    },
    {
      "@type": "HowToStep",
      "name": "Click on 'Start the upload'. This finishes the product upload from data feed.",
      "text": "When the time is selected, click on 'Start the upload'. This finishes the product upload from data feed, that was made with Product Feed.",
      "image": "{% static 'images/help_center/help_fb_inst/13.jpg' %}",
      "url": "https://feed-product.com/help_center/how_setup_facebook_catalog_feed.html#step-13"
    }
  ]
}

    </script>
{% endblock %}
{% block content %}
    <section class="case section-fullheight" id="step-1">
        <div class="container">
            <div class="row auto-shadow text-center" style="margin-bottom: 10px">
                <h2 class="base" style="width: 100%;">Help Center</h2>
                <h2 class="base">HOW TO CONNECT FEED PRODUCT TO FACEBOOK</h2>
            </div>
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 1</h2>
                        <p>To make a catalog:</p>
                        <p>Open the Catalog Manager,and select one of the four options of E-commerce.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_fb_inst/1.jpg' %}"
                             alt="Log in to the app">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-2">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 2</h2>
                        <p>When you finished selection, click "Next".</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_fb_inst/2.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-3">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 3</h2>
                        <p>In this section you need to select the option of adding new positions to the catalog using
                            data feeds, and fill in the catalog name.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_fb_inst/3.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-4">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 4</h2>
                        <p>When it's done, click "Create".</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_fb_inst/4.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-5">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 5</h2>
                        <p>Catalog is created! Click "View catalogue"</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_fb_inst/5.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-6">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 6</h2>
                        <p>Select "Dynamic ads" options in this screen.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_fb_inst/6.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-7">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 7</h2>
                        <p>Select "Add your products" option here.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_fb_inst/7.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-8">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 8</h2>
                        <p>Select "Use data feed" in the opened window, and click "Next".</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_fb_inst/8.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-9">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 9</h2>
                        <p>In the "Upload data feed file" window, in the "Select Upload Method" menu item, select "Set
                            automatic file upload schedule" option.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_fb_inst/9.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-10">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 10</h2>
                        <p>Two new fields appeared at this moment: "Add Data feed URL" - fill this field with data
                            feed's URL, that was made for you in the Feed Product app.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_fb_inst/10.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-11">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 11</h2>
                        <p>"Set automatics File Upload schedule" - select time when the feed will be updated. We
                            recommend you to update your feed daily.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_fb_inst/11.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-12">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 12</h2>
                        <p>Due to fact that PREMIUM SUBSCRIPTION of Feed Product grants you the option to parce all of
                            the product changes in your shop in the real time, we recommend you to select the
                            "Automatically upload new versions" option to update your feed right after the changes
                            regardless of update time.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_fb_inst/12.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-13">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>STEP 13</h2>
                        <p>When the time is selected, click on "Start the upload". This finishes the product upload from
                            data feed, that was made with Product Feed.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/help_fb_inst/13.jpg' %}"
                             alt="Log in to the Google Merchant Center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "include/form4.html" %}
    <div class="scroller"></div>
{% endblock %}