{% extends "base.html" %}
{% load static %}
{% block title %}Synchronize your Shopify products with advertising services Facebook, Google Shopping,
    Instagram Shopping, Yottos AdLoad, Pinterest {% endblock %}
{% block ld_json %}{% include "ld_json.html" %}{% endblock %}
{% block content %}
    <section id="top" class="main section-fullheight">
        <div class="auto-shadow">
            <div class="container">
                <div class="main-bg-color">
                    <div class="row mb-3">
                        <div class="col-xl-12 align-self-center d-flex justify-content-center flex-column text-white text-center">
                            <div class="m-2"><h1 class="">Synchronize your Shopify products with advertising
                                services</h1>
                            </div>
                            <div class="m-2">
                                <button id="videoButton" type="button" class="btn rounded-circle video_play btn-light"
                                        data-toggle="modal" data-target="#videoModal" aria-haspopup="true"
                                        aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M2 24v-24l20 12-20 12z"/>
                                    </svg>
                                </button>
                                <div class="modal fade" id="videoModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header border-0 pb-0">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                {% include "include/youtube.html" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-2"><p class="">Connect feeds with Feed Product</p>
                                <p class="">No coding required</p></div>
                            <div>
                                {% include "include/form1.html" %}
                            </div>
                            <div class="m-2">
                                <small>Get yourself the free version for good! No credit card required!</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="main-bg-image"><img class="rounded mx-auto d-block"
                                                src="{% static 'images/connect_feeds_with_feed_product.png' %}"
                                                alt="Synchronize your Shopify products with advertising services"></div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Verified_channels">
        <div class="container">
            <div class="row auto-shadow text-center" style="margin-bottom: 10px"><h2 class="base">WHAT FEED PRODUCT'S
                BEST
                PRACTICES LEAD TO POSITIVE ROAS</h2></div>
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-md-6 col-lg-4"><h2>Use proven channels</h2>
                        <p><b>Facebook Ads</b>, <b>Google Ads</b>, <b>Google Shopping</b>, <b>Instagram Shopping</b>,
                            <b>Yottos
                                AdLoad</b>, <b>Pinterest</b>. Recommending you channels, we are guided by 14 years of
                            internet
                            experience marketing. We recommend you only those channels that will bring you the maximum
                            coverage both on desktops and mobile platforms and that will allow you to cover and attract
                            the
                            maximum amount of consumers.</p><a href="#" class="more-link">Install app for free</a></div>
                    <div class="col-md-6 col-lg-8"><img class="roll-up"
                                                        src="{% static 'images/use_proven_channels.jpg' %}"
                                                        alt="Use proven channels"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Image_enhancement">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4"><h2>Image enhancement</h2>
                        <p>When you launch an advertising campaign, remember importance of product's image quality.
                            Images
                            are the face of the product. We format it in the special way, so your client will see the
                            product in the best lights possible.This will lead to greater clickability on offer,
                            increase
                            ctr and lower CPCs or impressions. Bring more leads by converting them to buyers.</p><a
                                href="#"
                                class="more-link">Install
                            app for free</a></div>
                    <div class="col-sm-6 col-md-8"><img class="roll-up"
                                                        src="{% static 'images/image_enhancement.jpg' %}"
                                                        alt="Image enhancement"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Synchronize_Remarketing_products">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8"><h2>Synchronize all products for remarketing</h2>
                        <p>Our experience shows, that remarketing can increase conversion by 30-70%. The right approach
                            to
                            customization remarketing starts with creating a file with all the products, that your
                            potential
                            buyers are interested in. It's very important to make remarketing a separate advertising
                            campaign when you are building an advertising communication strategy with potential
                            customers.
                            This is why you need this product feed file.</p><a href="#" class="more-link">Install app
                            for
                            free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4"><img class="roll-up"
                                                                      src="{% static 'images/synchronize_all_products_for_remarketing.jpg' %}"
                                                                      alt="Synchronize all products for remarketing">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Sync_thematic_feeds_collections">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Sync thematic feeds collections</h2>
                        <p>What distinguishes a successful advertising strategy from not successful? Its planning and
                            creating individual advertising campaigns with division into subjects. This allows you to
                            target
                            and pick a narrow interested audience in a certain subject, leading the target audience to a
                            specific section or product card. You will also have opportunity to collect a similar
                            audience
                            to those who have already bought in this subject. This method allows you to train your ad
                            campaigns better and increase their effectiveness.</p><a href="#" class="more-link">Install
                            app
                            for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/sync_thematic_feeds_collections.jpg' %}"
                                                                                    alt="Sync thematic feeds collections">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Online_update_feeds">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Real-time feeds update</h2>
                        <p>According to statistics, users are the best converted on 1-3 day after visiting the card
                            product
                            if you, for example, use remarketing. To do this, we implemented a real-time product-feed
                            updating that allows you to automatically update products in catalogs advertising services
                            after
                            their relevance changes in your store. This lets you always use relevant products in your ad
                            campaigns.</p><a href="#" class="more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/real-time_feeds_update.jpg' %}"
                                                                                    alt="Real-time feeds update"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Image_slide_show">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Scrolling multiple images inside one
                        advertisement</h2>
                        <p>This practice is both effective and cost-effective when conducting advertising campaigns.
                            Firstly, it allows you to show the product with different angles, which more effectively
                            attracts user's attention and increases engagement. Secondly, it saves your budget when you
                            use
                            advertising strategies applied CPM (cost-per-impression) or CPC (cost-per-click)
                            pricing.</p><a
                                href="#" class="more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/scrolling_multiple_images_inside_one_advertisement.jpg' %}"
                                                                                    alt="Scrolling multiple images inside one advertisement">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Actual_availability_of_goods_in_the_store">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Display of relevance of the
                        availability
                        of goods in the store</h2>
                        <p>The function that controls the expectation of potential buyers. You no longer have to explain
                            to
                            the client that their size is over or tomorrow it will reappear in sale. Enough to just turn
                            on
                            the automatic setting up the availability of goods in your advertising campaigns and the
                            issue
                            is resolved. If the product has run out and is not available in the store, then after
                            automatic
                            updates the feed will be reloaded and these offers will not be shown, which will save
                            advertising budget from inefficient spending. Promote only products that are in stock and do
                            not
                            miss customers!</p><a href="#" class="more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up"
                             src="{% static 'images/display_of_relevance_of_the_availability_of_goods_in_the_store.jpg' %}"
                             alt="Display of relevance of the availability of goods in the store"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Product_Categories">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Sort by category of goods</h2>
                        <p>The best approach in sales is an individual approach. But how to do it when it's e-commerce?
                            Making ads manually and for each product is quite painstaking and laborious work. There is a
                            solution, just fill in all the fields in the product card in your Shopify store, and the
                            feed
                            product based on this data collects customized ads for products in different categories
                            (e.g.,
                            size, color, price range and so on). You just need to create an individual collection file
                            by
                            certain filters and synchronize it with catalogs in advertising services.</p><a href="#"
                                                                                                            class="more-link">Install
                            app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/sort_by_category_of_goods.jpg' %}"
                                                                                    alt="Sort by category of goods">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Discounts_in_ads">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Display discounts in ad</h2>
                        <p>Nothing drives sales like a price reduction (discount)! Combine a few correct marketing
                            scenarios
                            such as:</p>
                        <ul>
                            <li>creating a feed of individual collection to attract new potential customers</li>
                            <li>individual product variations in conjunction with remarketing</li>
                            <li>DISCOUNTS.</li>
                        </ul>
                        <p>As a result, your regular or potential customers will always be up to date with current
                            promotions. And your sales will grow.</p><a href="#" class="more-link">Install app for
                            free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/display_discounts_in_ad.jpg' %}"
                                                                                    alt="Display discounts in ad"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Rating_by_Sales">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Rating by Sales</h2>
                        <p>Sales trends may be affected by various factors such as weather, season, time of day,
                            weekend,
                            discounts, fashion, competition of similar brands, topics and so on. How to keep track of
                            what
                            to advertise today if you have large selection of goods? Feed Product contains rating
                            function
                            which will form a file on its own in order from the best selling to less selling items.
                            While
                            automatic feed updates in real time, you upload and advertise goods that sell best.</p><a
                                href="#" class="more-link">Install app for free</a></div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/rating_by_sales.jpg' %}"
                                                                                    alt="Rating by Sales"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="Intelligent_Utm_tagging_and_tracking">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6"><h2>Intelligent Utm tagging and
                        tracking</h2>
                        <p>Statistics and its analysis are the key to operational identification and optimization. This
                            practice allows you to find out which channel sells more efficiently. For example, it shows
                            which advertising campaign should increase it's budget, and which one should be completely
                            disabled. But all of this cannot be tracked if channel data doesn’t appear, for example, in
                            Google Analytics. In Feed Product we set up utm-tagging that helps you to analyze channel
                            sales
                            statistics in various cross-sections and take the right solutions to optimize strategy and
                            advertising campaigns management.</p><a href="#" class="more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6"><img class="roll-up"
                                                                                    src="{% static 'images/intelligent_utm_tagging_and_tracking.jpg' %}"
                                                                                    alt="Intelligent Utm tagging and
                        tracking"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="case align-items-stretch section-fullheight">
        <div class="container row">
            <div class="row align-items-center m-0 p-0 w-100">
                <div class="feature auto-shadow w-100">
                    <div class="feature-text"><h3>Why is Feed Product preferred among others?</h3>
                        <div class="d-flex justify-content-around mb-4 mt-4 badgets">
                            <button type="button" class="btn btn-primary">installations app <span
                                    class="badge badge-warning">63 421</span></button>
                            <button type="button" class="btn btn-primary">created files <span
                                    class="badge badge-success">253 684</span>
                            </button>
                            <button type="button" class="btn btn-primary">updated offers <span
                                    class="badge badge-light">62 525 600</span>
                            </button>
                        </div>
                        <p>A variety of functions is not the only feature you will like about Feed Product for Shopify.
                            To
                            provide your store with the most effective features for synchronizing products with
                            advertising
                            channels, our specialists are constantly updating and improving the application, using the
                            best
                            practices gained from 14 years of experience in Internet marketing.</p></div>
                </div>
            </div>
            <div class="row align-items-center m-0 p-0 w-100">
                <div class="feature auto-shadow form text-white w-100">
                    <div class="feature-text"><h3>Join Millions of Shopify partners with Feed Product</h3>
                        {% include "include/form2.html" %}
                        <div class="m-2">
                            <small>Get yourself the free version for good! No credit card required!</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="scroller"></div>
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-0 pb-0"><h5 class="modal-title text-center text-white flex-fill">Install
                    app
                    Feed Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include "include/form3.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}