<script type="application/ld+json">
{
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "Feed Product",
      "image": [
        "https://feed-product.com/static/images/connect_feeds_with_feed_product.png"
       ],
      "description": "Synchronize your Shopify products with advertising services",
      "brand": {
        "@type": "Thing",
        "name": "Yottos"
      },
      "review": {
        "@type": "Review",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "4",
          "bestRating": "5"
        },
        "author": {
          "@type": "Person",
          "name": "Yottos"
        }
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.7",
        "reviewCount": "891231"
      },
      "offers": {
        "@type": "Offer",
        "url": "https://feed-product.com/",
        "priceCurrency": "USD",
        "price": "29.00",
        "priceValidUntil": "2021-12-12",
        "itemCondition": "https://schema.org/UsedCondition",
        "availability": "https://schema.org/InStock",
        "seller": {
          "@type": "Organization",
          "name": "Yottos"
        }
      }
    }
</script>