<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Article",
  "name" : "Feed Product",
  "author" : {
    "@type" : "Person",
    "name" : "Yottos"
  },
  "datePublished" : "2020-01-01",
  "articleBody" : "Synchronize your Shopify products with advertising services",
  "url" : "https://feed-product.com/",
  "publisher" : {
    "@type" : "Organization",
    "name" : "Yottos"
  },
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingValue" : "100"
  }
}

</script>