{% extends "base.html" %}
{% load static %}
{% block title %}Privacy Policies{% endblock %}
{% block ld_json %}{% endblock %}
{% block content %}
    <section class="case">
        <div class="container">
            <div class="row justify-content-xl-between mb-3 justify-content-between">
                <div class="col-xl-12 align-self-center d-flex justify-content-center flex-column text-center">
                    <div class="m-2"><h2 class="">Privacy Policies</h2>
                        <p>Your personal data is processed by us only in accordance with the provisions of Estonian data
                            privacy legislation.
                            The following provisions describe the type, scope and purpose of the collection, processing
                            and use of personal data. This data privacy policy applies only to our web pages. If links
                            on our pages direct you to other pages, please inquire there how your data is processed in
                            such cases.</p></div>
                </div>
            </div>
            <div class="row justify-content-xl-between mb-3 justify-content-between">
                <div class="col-xl-12 align-self-center d-flex justify-content-center flex-column text-center">
                    <div class="m-2"><h2 class="">Inventory data</h2>
                        <p>Your personal data, if they are necessary for these contractual relationships (inventory
                            data) from the point of view of their establishment, organization of content and changes,
                            are used exclusively to fulfill the contract. For example, to deliver the goods, your name
                            and address must be transferred to the supplier of the goods.</p>
                        <p>Without your explicit consent or legal justification, your personal data is not transferred
                            to third parties outside the scope of this contract. After the completion of the contract,
                            your data is blocked from further use. After the expiration of the deadlines in accordance
                            with tax and commercial regulations, this data will be deleted if you have not given
                            explicit consent to their further use.</p></div>
                </div>
            </div>
            <div class="row justify-content-xl-between mb-3 justify-content-between">
                <div class="col-xl-12 align-self-center d-flex justify-content-center flex-column text-center">
                    <div class="m-2"><h2 class="">Web Analysis Using Google Analytics</h2>
                        <p>This site uses Google Analytics, a web analysis service of Google Inc. (Google). Google
                            Analytics uses cookies, i.e. text files stored on your computer, to analyze your use of the
                            website. The information about your use of this website obtained through cookies is usually
                            transmitted to a Google server in the USA and stored there. However, in the case of
                            activated anonymity of the IP addresses on this website, your IP address is preliminarily
                            truncated by Google in the Member States of the European Union or in other states that are
                            parties to the agreement on the European Economic Area. Only in exceptional cases will the
                            full IP address be transmitted to a Google server in the USA and cut off there. On behalf of
                            the owner of this website, Google will use this information to evaluate your use of the
                            website, compile reports on website activity, and provide the website operator with
                            additional services related to the use of the website and the Internet. The IP address sent
                            from your browser as part of Google Analytics is not combined with other Google data. You
                            can prevent the storage of cookies by setting your browser software correctly; in this case,
                            however, please note that you will not be able to fully use all the features offered on this
                            site. In addition, you can prevent the collection and processing of data generated by the
                            cookie related to your use of the website (including your IP address) by downloading and
                            installing the browser plug-in at the following link: You can prevent the storage of
                            cookies, correctly Configuring your browser software in this case, however, please note that
                            you will not be able to fully use all the features offered on this site. In addition, you
                            can prevent the collection and processing of data generated by the cookie related to your
                            use of the website (including your IP address) by downloading and installing the browser
                            plug-in at the following link: You can prevent the storage of cookies, correctly Configuring
                            your browser software in this case, however, please note that you will not be able to fully
                            use all the features offered on this site. In addition, you can prevent the collection and
                            processing of data generated by the cookie related to your use of the website (including
                            your IP address) by downloading and installing the browser plug-in at the following link:<a
                                    href="http://tools.google.com/dlpage/gaoptout?hl=en">http://tools.google.com/dlpage/gaoptout?hl=en</a>
                        </p></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}