{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Feed Product</title>
    <link href="{% static 'css/0.css' %}" rel="stylesheet">
    <link as="style" href="{% static 'css/0.css' %}" rel="preload">
    <link as="script" href="{% static 'js/main.6e6912d7a0fba3077fa6.js' %}" rel="preload">
    <link as="script" href="{% static 'js/runtime.6e6912d7a0fba3077fa6.js' %}" rel="preload">
    <link as="script" href="{% static 'js/vendor.6e6912d7a0fba3077fa6.js' %}" rel="preload">
</head>
<body>
<header class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light justify-content-between"><a class="navbar-brand text-uppercase"
                                                                                     href="/#top">Feed Product</a>
            <div class="dropdown">
                <button type="button" class="btn" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <svg class="bi bi-list" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M4.5 13.5A.5.5 0 015 13h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-4A.5.5 0 015 9h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-4A.5.5 0 015 5h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5z"
                              clip-rule="evenodd"/>
                    </svg>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink"><a
                        class="dropdown-item text-break text-wrap" href="/#c1">Используй проверенные каналы</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-break text-wrap" href="/#c2">Улучшение изображений</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-break text-wrap" href="/#c3">Синхронизация всех товаров для
                        ремаркетинга</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-break text-wrap" href="/#c4">Синхронизация тематических feeds
                        коллекций</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-break text-wrap" href="/#c5">Обновление feeds с продуктами в реальном
                        времени</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-break text-wrap" href="/#c6">Прокрутка нескольких изображений внутри
                        одного рекламного объявления</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-break text-wrap" href="/#c7">Отображение актуальности наличия товаров в
                        магазине</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-break text-wrap" href="/#c8">Сортировка по категориям товаров</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-break text-wrap" href="/#c9">Отображение скидки в объявлении</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-break text-wrap" href="/#c10">Выгрузка по рейтингу продаваемости</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-break text-wrap" href="/#c11">Интеллектуальное формирование и
                        отслеживание Utm-меток</a></div>
            </div>
        </nav>
    </div>
</header>
<section class="case">
    <div class="container">
        <div class="row justify-content-xl-between mb-3 justify-content-between">
            <div class="col-xl-12 align-self-center d-flex justify-content-center flex-column text-center">
                <div class="m-2"><h2 class="">Privacy Policies</h2>
                    <p>Ваши личные данные обрабатываются нами только в соответствии с положениями эстонского
                        законодательства о конфиденциальности данных. Следующие положения описывают тип, объем и цель
                        сбора, обработки и использования персональных данных. Эта политика конфиденциальности данных
                        распространяется только на наши веб-страницы. Если ссылки на наших страницах направляют вас на
                        другие страницы, пожалуйста, поинтересуйтесь там, как обрабатываются ваши данные в таких
                        случаях.</p></div>
            </div>
        </div>
        <div class="row justify-content-xl-between mb-3 justify-content-between">
            <div class="col-xl-12 align-self-center d-flex justify-content-center flex-column text-center">
                <div class="m-2"><h2 class="">Данные инвентаризации</h2>
                    <p>Ваши личные данные, если они необходимы для этих договорных отношений (данные инвентаризации) с
                        точки зрения их установления, организации контента и изменений, используются исключительно для
                        выполнения договора. Например, для доставки товара ваше имя и адрес должны быть переданы
                        поставщику товара.</p>
                    <p>Без вашего явного согласия или юридического обоснования ваши личные данные не передаются третьим
                        лицам за рамками выполнения настоящего договора. После завершения договора ваши данные
                        блокируются от дальнейшего использования. После истечения сроков в соответствии с налоговыми и
                        коммерческими нормативными актами эти данные будут удалены, если вы не дали явного согласия на
                        их дальнейшее использование.</p></div>
            </div>
        </div>
        <div class="row justify-content-xl-between mb-3 justify-content-between">
            <div class="col-xl-12 align-self-center d-flex justify-content-center flex-column text-center">
                <div class="m-2"><h2 class="">Веб-анализ с помощью Google Analytics</h2>
                    <p>Этот сайт использует Google Analytics, службу веб-анализа Google Inc. (Google). Google Analytics
                        использует файлы cookie, т. Е. Текстовые файлы, хранящиеся на вашем компьютере, для анализа
                        использования вами веб-сайта. Информация об использовании вами данного веб-сайта, полученная с
                        помощью файлов cookie, обычно передается на сервер Google в США и сохраняется там. Однако, в
                        случае активированной анонимности IP-адресов на этом веб-сайте, ваш IP-адрес предварительно
                        усекается Google в государствах-членах Европейского Союза или в других государствах, которые
                        являются сторонами соглашения о Европейском экономическом пространстве. Только в исключительных
                        случаях полный IP-адрес передается на сервер Google в США и там обрезается. От имени владельца
                        этого веб-сайта Google будет использовать эту информацию для оценки вашего использования
                        веб-сайта, составления отчетов о деятельности веб-сайта, и предоставлять оператору веб-сайта
                        дополнительные услуги, связанные с использованием веб-сайта и Интернета. IP-адрес, отправленный
                        из вашего браузера как часть Google Analytics, не объединяется с другими данными Google. Вы
                        можете предотвратить сохранение файлов cookie, правильно настроив программное обеспечение своего
                        браузера; в этом случае, однако, обратите внимание, что вы не сможете в полной мере использовать
                        все функции, предлагаемые на этом сайте. Кроме того, вы можете предотвратить сбор и обработку
                        данных, сгенерированных cookie-файлом и относящихся к использованию вами веб-сайта (включая ваш
                        IP-адрес), путем загрузки и установки подключаемого модуля браузера по следующей ссылке: Вы
                        можете предотвратить сохранение файлов cookie, правильно настроив программное обеспечение своего
                        браузера; в этом случае, однако, обратите внимание, что вы не сможете в полной мере использовать
                        все функции, предлагаемые на этом сайте. Кроме того, вы можете предотвратить сбор и обработку
                        данных, сгенерированных cookie-файлом и относящихся к использованию вами веб-сайта (включая ваш
                        IP-адрес), путем загрузки и установки подключаемого модуля браузера по следующей ссылке: Вы
                        можете предотвратить сохранение файлов cookie, правильно настроив программное обеспечение своего
                        браузера; в этом случае, однако, обратите внимание, что вы не сможете в полной мере использовать
                        все функции, предлагаемые на этом сайте. Кроме того, вы можете предотвратить сбор и обработку
                        данных, сгенерированных cookie-файлом и относящихся к использованию вами веб-сайта (включая ваш
                        IP-адрес), путем загрузки и установки подключаемого модуля браузера по следующей ссылке:<a
                                href="http://tools.google.com/dlpage/gaoptout?hl=en">http://tools.google.com/dlpage/gaoptout?hl=en</a>
                    </p></div>
            </div>
        </div>
    </div>
</section>
<footer class="">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link" href="./privacy.html">Privacy Policies</a></li>
        </ul>
    </div>
    <small class="text-uppercase">&copy;&nbsp;2006&nbsp;&ndash;&nbsp;2019&nbsp;Feed Product</small>
</footer>
<script src="{% static 'js/runtime.6e6912d7a0fba3077fa6.js' %}"></script>
<script src="{% static 'js/vendor.6e6912d7a0fba3077fa6.js' %}"></script>
<script src="{% static 'js/main.6e6912d7a0fba3077fa6.js' %}"></script>
</body>
</html>