{% extends "base.html" %}
{% load static %}
{% block title %}What feeds and strategies should I generate in Feed Product{% endblock %}
{% block ld_json %}
    <script type="application/ld+json">
 {
  "@context": "http://schema.org",
  "@type": "HowTo",
  "image": {
    "@type": "ImageObject",
    "url": "{% static 'images/connect_feeds_with_feed_product.png' %}"
  },
  "name": "Feed Product - Feeds and Strategie in Feed Product",
  "description": "What feeds and strategies should I generate in Feed Product",
  "totalTime": "PT10M",
  "supply": [
    {
      "@type": "HowToSupply",
      "name": "Shopify Store",
      "url":  "https://www.shopify.com/"
    }, {
      "@type": "HowToSupply",
      "name": "Feed Product - Shopify App Store",
      "url":  "https://feed-product.com/"
    }
  ],
  "tool": [
    {
      "@type": "HowToTool",
      "name": "Feed Product - Shopify App Store",
      "url":  "https://feed-product.com/"
    }
  ],
  "step": [
    {
      "@type": "HowToStep",
      "name": "You will need to generate different data feeds for different purposes in Feed Product.",
      "text": "To increase the effect of ads, you will need to generate different data feeds for different purposes in Feed Product.",
      "image": "{% static 'images/help_center/Fb4/5-1.png' %}",
      "url": "https://feed-product.com/help_center/strategies_in_feed_product.html#step-1"
    },
    {
      "@type": "HowToStep",
      "name": "For the dynamic remarketing purposes it's better to generate data feed in Feed Product with all of the products.",
      "text": "For the dynamic remarketing purposes it's better to generate data feed in Feed Product with all of the products.",
      "image": "{% static 'images/help_center/Fb4/1-1.png' %}",
      "url": "https://feed-product.com/help_center/strategies_in_feed_product.html#step-2"
    },
    {
      "@type": "HowToStep",
      "name": "To attract new thematic audience you should generate data feed separately for each product catalog and organize them in collections for convenience in Feed Product.",
      "text": "To attract new thematic audience you should generate data feed separately for each product catalog and organize them in collections for convenience in Feed Product.",
      "image": "{% static 'images/help_center/Fb4/3-1.png' %}",
      "url": "https://feed-product.com/help_center/strategies_in_feed_product.html#step-3"
    },
    {
      "@type": "HowToStep",
      "name": "To increase loyalty, you should generate data feed with all of the discounts.",
      "text": "To increase loyalty, you should generate data feed with all of the discounts.",
      "image": "{% static 'images/help_center/Fb4/4-1.png' %}",
      "url": "https://feed-product.com/help_center/strategies_in_feed_product.html#step-4"
    }
  ]
}


    </script>
{% endblock %}
{% block content %}
    <section class="case section-fullheight" id="step-1">
        <div class="container">
            <div class="row auto-shadow text-center" style="margin-bottom: 10px">
                <h2 class="base" style="width: 100%;">Help Center</h2>
                <h2 class="base">WHAT FEEDS AND STRATEGIES SHOULD I GENERATE IN FEED PRODUCT</h2></div>
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        {#                        <h2>STEP 1</h2>#}
                        <p>To increase the effect of ads, you will need to generate different data feeds for different
                            purposes in Feed Product.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb4/5-1.png' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-2">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>For the dynamic remarketing purposes</h2>
                        <p>For the dynamic remarketing purposes it's better to generate data feed in Feed Product with
                            all of the products.</p>
                        <a href="/" class="faq-item-more-link">Install app for free</a>
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb4/1-1.png' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-2">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>To attract new thematic audience</h2>
                        <p>To attract new thematic audience you should generate data feed separately for each product
                            catalog and organize them in collections for convenience in Feed Product.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb4/3-1.png' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-2">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>To increase loyalty</h2>
                        <p>To increase loyalty, you should generate data feed with all of the discounts.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb4/4-1.png' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin: 20px auto;">
        <div class="row auto-shadow" style="padding: 10px;">
            <div class="feature w-100">
                <div class="feature-text text-center"><h3>Perhaps you'd be interested in:</h3></div>
                <div>
                    <a href="/help_center/how_install.html" class="faq-item-more-link">HOW to install feed product in
                        shopify</a>
                </div>
                <div>
                    <a href="/help_center/how_configure.html" class="faq-item-more-link">How to configure feed product
                        in shopify</a>
                </div>
            </div>
        </div>
    </div>
    {% include "include/form4.html" %}
    <div class="scroller"></div>
{% endblock %}