{% extends "base.html" %}
{% load static %}
{% block title %}How to upload your products in your Facebook store using Feed Product.{% endblock %}
{% block ld_json %}
    <script type="application/ld+json">
 {
  "@context": "http://schema.org",
  "@type": "HowTo",
  "image": {
    "@type": "ImageObject",
    "url": "{% static 'images/connect_feeds_with_feed_product.png' %}"
  },
  "name": "Feed Product - UPLOAD YOUR PRODUCTS IN YOUR FACEBOOK STORE",
  "description": "How to upload your products in your Facebook store using Feed Product.",
  "totalTime": "PT10M",
  "supply": [
    {
      "@type": "HowToSupply",
      "name": "Shopify Store",
      "url":  "https://www.shopify.com/"
    }, {
      "@type": "HowToSupply",
      "name": "Feed Product - Shopify App Store",
      "url":  "https://feed-product.com/"
    }, {
      "@type": "HowToSupply",
      "name": "Yottos Adload",
      "url":  "https://adload.yottos.com/"
    }
  ],
  "tool": [
    {
      "@type": "HowToTool",
      "name": "Feed Product - Shopify App Store",
      "url":  "https://feed-product.com/"
    }
  ],
  "step": [
    {
      "@type": "HowToStep",
      "name": "Open the 'Shop' tab or you need to go to 'Setting'",
      "text": "Open the 'Shop' tab in your Store page.  If this tab is not present, then you need to go to 'Settings'.",
      "image": "{% static 'images/help_center/Fb2/1.png' %}",
      "url": "https://feed-product.com/help_center/upload_products_in_facebook_store.html#step-1"
    }
  ]
}


    </script>
{% endblock %}
{% block content %}
    <section class="case section-fullheight" id="step-1">
        <div class="container">
            <div class="row auto-shadow text-center" style="margin-bottom: 10px">
                <h2 class="base" style="width: 100%;">Help Center</h2>
                <h2 class="base">HOW TO UPLOAD YOUR PRODUCTS IN YOUR FACEBOOK STORE USING FEED PRODUCT.</h2></div>
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 1</h2>
                        <p>1) Open the 'Shop' tab in your Store page.</p>
                        <p>2) If this tab is not present, then you need to go to 'Settings'.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb2/1.png' %}"
                             alt="Log in to the app">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-2">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 2</h2>
                        <p>In your settings, go to the 'Templates and Tabs'.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb2/2.png' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-3">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 3</h2>
                        <p>Select the 'Shopping' template in the 'Templates' field of opened section of settings.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb2/3.png' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-4">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 4</h2>
                        <p>After that return in your store page.</p>
                        <p>When you do so, click on the new 'Shop' tab.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb2/4.png' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-5">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 5</h2>
                        <p>Click on the 'Manage your catalog' in the opened tab. If you don't have this button, don't
                            worry. You will just need to add one offer on your own and refresh the page, and then you
                            will have this button seen.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb2/5.png' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-6">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 6</h2>
                        <pYou will be redirected in the store catalog, that was created automatically when the store was
                              created. Open the
                        'Configure' section and select 'Product Data Sources'.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb2/18.png' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-7">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 7</h2>
                        <p>You can see all of the feeds, that were made in this catalog, in the opened window.</p>
                        <p>To add the feed with products, that was made in Feed Product, click on the 'Add Products'
                            button.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb2/8.png' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-8">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 8</h2>
                        <p>In the opened window, select 'Use Data Feeds' out of three options, and click 'Next'.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb2/19.png' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-9">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 9</h2>
                        <p>After this, put in the name of data feed (this is how it will be called in your catalog) in
                            the opened window, and select the currency that will be used in displaying prices of
                            products on Facebook.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb2/10.png' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-10">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 10</h2>
                        <p>After that you will need to select the update method. Let's select the 'Set Automatic File
                            Upload Schedule' option.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb2/11.png' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-11">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 11</h2>
                        <p>When this option is selected, you will see new fields to fill.</p>
                        <p>In the third field you will need to put in the link to the data feed generated by Feed
                            Product with your goods.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb2/12.png' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-12">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 12</h2>
                        <p>In the 'Set Automatic File Upload Schedule' tab you will need to select the time when your
                            feed will be updated. We recommend you to set daily update option.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb2/13.png' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-13">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 13</h2>
                        <p>Due to PREMIUM SUBSCRIPTION PLAN of Feed Product allows you to parse your changes in the
                            products of your store in the real time, we recommend you to activate the option
                            'Automatically upload new versions' to update your feed automatically after the changes no
                            matter the time of updates.</p>
                        <p>When time is set, click on 'Start Upload'.</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb2/15.png' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="case section-fullheight" id="step-14">
        <div class="container">
            <div class="row auto-height auto-shadow">
                <div class="row align-items-center m-0 p-0">
                    <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                        <h2>STEP 14</h2>
                        <p>After that the system uploads the data feed with your offers from the Feed Product.</p>
                        <p>1) When the upload is finished you can see the number of uploaded offers.</p>
                        <p>2) To see all the uploaded offers - go to the 'Product' tab.</p>
                        <p>Besides, all products uploaded in this catalog will be automatically appear in the Facebook
                            Store. In the future you will be able to control and redact products in the catalog as well
                            as in the Facebook Store page</p>
                        {% include "include/faq_item_more_link.html" %}
                    </div>
                    <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                        <img class="roll-up" src="{% static 'images/help_center/Fb2/16.png' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin: 20px auto;">
        <div class="row auto-shadow" style="padding: 10px;">
            <div class="feature w-100">
                <div class="feature-text text-center"><h3>Perhaps you'd be interested in:</h3></div>
                <div>
                    <a href="/help_center/how_install.html" class="faq-item-more-link">HOW to install feed product in
                        shopify</a>
                </div>
                <div>
                    <a href="/help_center/how_configure.html" class="faq-item-more-link">How to configure feed product
                        in shopify</a>
                </div>
            </div>
        </div>
    </div>
    {% include "include/form4.html" %}
    <div class="scroller"></div>
{% endblock %}