{% if shop %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@4.0.0/styles.min.css"/>
        <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
        <script src="https://unpkg.com/@shopify/app-bridge"></script>
        <script type="text/javascript">
            var AppBridge = window['app-bridge'];
            var createApp = AppBridge.default;
            var app = createApp({
                apiKey: '{{ api_key }}',
                shopOrigin: '{{ current_shop }}',
                forceRedirect: true,
                debug: true
            });
            var actions = AppBridge.actions;
            var TitleBar = actions.TitleBar;
            var titleBarOptions = {
                title: '{{ page_name }}'
            };
            {% if not shop.premium %}
                var Button = actions.Button;
                var Redirect = actions.Redirect;
                var redirect = Redirect.create(app);
                var subscribeButton = Button.create(app, {label: 'Upgrade to Premium Membership'});
                var clickSubscribe = subscribeButton.subscribe(Button.Action.CLICK, function () {
                    redirect.dispatch(Redirect.Action.APP, '/shopify/subscribe');
                });
                titleBarOptions.buttons = {primary: subscribeButton};
            {% endif %}
            var myTitleBar = TitleBar.create(app, titleBarOptions);
        </script>
    </head>
    <body>
    </body>

    </html>
{% endif %}