{% if shop %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@4.0.0/styles.min.css"/>
        <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
        <script src="https://unpkg.com/@shopify/app-bridge"></script>
        <script>
            window.current_shop = {
                domain: '{{ current_shop }}',
                apiKey: '{{ api_key }}',
                shopOrigin: '{{ current_shop }}',
                premium: false,
                feed: {
                    title: "Facebook product feed set up!",
                    description: "You have successfully generated your Facebook product feed. You can now add it to your Facebook Catalog.",
                    sectioned_title: "Your Facebook Feed",
                    link: 'facebook',
                    offer_count: 2
                },
                options: [
                    {
                        label: 'Up to 1,000 products',
                        default: true,
                        premium: false,
                        active: true
                    },
                    {
                        label: 'Single Collection Sync',
                        default: true,
                        premium: false,
                        active: true
                    },
                    {
                        label: 'Image Optimization (up to 50 images)',
                        default: true,
                        premium: false,
                        active: true
                    },
                    {
                        label: 'Feed for Google Merchant Ads, Facebook, Instagram, Yottos, Pinterest',
                        default: true,
                        premium: false,
                        active: true
                    },
                    {
                        label: 'UTM tags',
                        default: false,
                        premium: true,
                        active: false
                    },
                    {
                        label: 'Sorting by Sales Rating',
                        default: false,
                        premium: true,
                        active: false
                    },
                    {
                        label: 'Display discounts in ads',
                        default: false,
                        premium: true,
                        active: false
                    },
                    {
                        label: 'Asynchronous feed update',
                        default: false,
                        premium: true,
                        active: false
                    },
                    {
                        label: 'Scrolling images inside ads',
                        default: false,
                        premium: true,
                        active: false
                    },
                    {
                        label: 'Sync all products for remarketing',
                        default: false,
                        premium: true,
                        active: false
                    },
                    {
                        label: '10 feeds with ratings, 1000 products',
                        default: false,
                        premium: true,
                        active: false
                    },
                    {
                        label: 'Individual names of product variations',
                        default: false,
                        premium: true,
                        active: false
                    },
                    {
                        label: 'Synchronization of individual collections',
                        default: false,
                        premium: true,
                        active: false
                    },

                    {
                        label: 'Image Optimization (up to 10 000 images)',
                        default: false,
                        premium: true,
                        active: true
                    },
                    {
                        label: 'Display in ads the availability of goods in the store',
                        default: false,
                        premium: true,
                        active: false
                    },

                ],
                utm: [
                    {
                        value: 'facebook',
                        label: 'Campaign Source'
                    },
                    {
                        value: 'cpc',
                        label: 'Campaign Medium'
                    },
                    {
                        value: 'test-yottos.myshopify.com',
                        label: 'Campaign Name'
                    }
                ],
                collections: [
                    {
                        value: true,
                        label: 'All Product'
                    },
                    {
                        value: false,
                        label: 'Test'
                    },
                    {
                        value: false,
                        label: 'Test2'
                    },
                    {
                        value: false,
                        label: 'Test3'
                    },
                    {
                        value: false,
                        label: 'Test4'
                    },
                    {
                        value: false,
                        label: 'Test5'
                    },
                    {
                        value: false,
                        label: 'Test6'
                    }
                ]
            };
        </script>
        <script type="text/javascript">
            var AppBridge = window['app-bridge'];
            var createApp = AppBridge.default;
            var app = createApp({
                apiKey: '{{ api_key }}',
                shopOrigin: '{{ current_shop }}',
                forceRedirect: true,
                debug: true
            });
            var actions = AppBridge.actions;
            var TitleBar = actions.TitleBar;
            var ButtonGroup = actions.ButtonGroup;
            var titleBarOptions = {
                title: '{{ page_name }}'
            };
            var Button = actions.Button;
            var Redirect = actions.Redirect;
            var redirect = Redirect.create(app);
            var subscribeButton = Button.create(app, {label: 'Billing'});
            var clickSubscribe = subscribeButton.subscribe(Button.Action.CLICK, function () {
                redirect.dispatch(Redirect.Action.APP, '{% url "shopify_app:billing" %}');
            });

            var button1 = Button.create(app, { label: 'Facebook Feed' });
            var button2 = Button.create(app, { label: 'Google Feed' });
            const moreActions = ButtonGroup.create(app, {
              label: 'Feeds',
              buttons: [button1, button2],
            });



            titleBarOptions.buttons = {
                primary: subscribeButton,
                secondary: [button1, button2],
            };
            var myTitleBar = TitleBar.create(app, titleBarOptions);
        </script>
    </head>
    <body>
    <div id="root"></div>
    </body>
    </html>
{% endif %}